{% extends "base1.html" %}

{% block title %}
Contact Us
{% endblock %}

{% block headContent %}
  <meta content="Contact" property="og:title">
  <meta content="Contact" property="twitter:title">
{% endblock %}

{% block content %}
  <div class="section">
    <div class="intro-header cc-subpage">
      <div class="intro-content">
        <div class="heading-jumbo">Contact Us<br></div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="w-layout-grid contact-form-grid">
        <div id="w-node-_3f61509a-fac7-b0d5-3763-509be705858e-caf90ada" class="contact-form-wrap">
          <div class="contact-form-heading-wrap">
            <h2 class="contact-heading">Contact us</h2>
          </div>
          <div class="contact-form w-form">
            <form data-name="Get In Touch Form" name="wf-form-Get-In-Touch-Form" id="email-form" method="post" class="get-in-touch-form" data-wf-page-id="6593bf7c169f4feecaf90ada" data-wf-element-id="3f61509a-fac7-b0d5-3763-509be7058595">
              <label for="name">Name</label>
              <input class="text-field cc-contact-field w-input" maxlength="256" name="name" data-name="Name" placeholder="Enter your name" type="text" id="Name">
              <label for="Email-2">Email Address</label>
              <input class="text-field cc-contact-field w-input" maxlength="256" name="email" data-name="Email" placeholder="Enter your email" type="email" id="Email" required="">
              <label for="Message">Message</label>
              <textarea id="Message" name="message" placeholder="Hi there, I’m reaching out because..." maxlength="5000" data-name="Message" class="text-field cc-textarea cc-contact-field w-input"></textarea>
              <input type="submit" data-wait="Please wait..." class="button w-inline-block" value="Submit">
            </form>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for msg in messages %}     
                    <div class="alert alert-danger" role="alert" style="text-align: center;">
                        <form action="{{ url_for('contactPage') }}">
                            <strong>{{msg}}</strong>
                            <button>X</button>
                        </form>
                    </div>     
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section"></div>
  <div class="section">
    <div class="container"></div>
  </div>
{% endblock %}