{% extends "base2.html" %}

{% block title %}
Stock Details
{% endblock %}

{% block content %}
<head>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',    filename='css/main.css') }}" rel="stylesheet">
</head>


<body>

    <br>
    <br>

    <div class="intro-header cc-subpage">
        <div class="intro-content">
          <div class="heading-jumbo">{{ stock_info.get('longName', 'N/A') }}<br></div>
        </div>
    </div>
    
    <br>

    <p style="font-size: larger;">{{ stock_info.get('longBusinessSummary', 'N/A') }}</p>

    <!-- Add a placeholder for the interactive candlestick chart -->
    <div id="candlestick-chart"></div>
    
    <script>
        // Fetch the Plotly chart data
        const chartData = "{{ candlestick_chart|safe }}";
        
    </script>
         
    <table class="table table-striped">
                
        <tr>
            <td style="width: 300px;">Industry</td>
            <td style="width: 300px;">{{ stock_info.get('industry', 'N/A') }}</td>
        </tr>
                
        <tr>
            <td>Market Cap</td>
            <td>{{ stock_info.get('marketCap', 'N/A') }}</td>
        </tr>
        <tr>
            <td>PE Ratio</td>
            <td>{{ '%0.2f' % (stock_info.get('trailingPE', 'N/A'))|float }}</td>
        </tr>
        <tr>
            <td>Dividend Yield</td>
            <td>{{ stock_info.get('dividendYield', 'N/A') }}</td>
        </tr>
        <tr>
            <td>Previous Close</td>
            <td>{{'%0.2f' % (stock_info.get('regularMarketPreviousClose', 'N/A'))|float }}</td>
        </tr>
        <tr>
            <td>Open</td>
            <td>{{ '%0.2f' % (stock_info.get('regularMarketOpen', 'N/A'))|float }}</td>
        </tr>
        <tr>
            <td>Volume</td>
            <td>{{ stock_info.get('regularMarketVolume', 'N/A') }}</td>
        </tr>
        <tr>
            <td>Average Volume</td>
            <td>{{ stock_info.get('averageVolume', 'N/A') }}</td>
        </tr>
        <tr>
            <td>Forward PE Ratio</td>
            <td>{{ '%0.2f' % (stock_info.get('forwardPE', 'N/A'))|float }}</td>
        </tr>
        <tr>
            <td>EPS (TTM)</td>
            <td>{{ '%0.2f' % (stock_info.get('trailingEps', 'N/A'))|float }}</td>
        </tr>
        <tr>
            <td>Beta</td>
            <td>{{ '%0.2f' % (stock_info.get('beta', 'N/A'))|float }}</td>
        </tr>
        <tr>
            <td>Book Value</td>
            <td>{{ '%0.2f' % (stock_info.get('bookValue', 'N/A'))|float }}</td>
        </tr>
        <tr>
            <td>200 day Average</td>
            <td>{{ '%0.2f' % (stock_info.get('twoHundredDayAverage', 'N/A'))|float }}</td>
        </tr>

    </table>
    <br>
    <br>

    <div class="btn-group">
        <form action="{{ url_for('add_to_watchlist', symbol=symbol) }}" method="get">
            <button class="button w-inline-block" type="submit">Add to Watchlist</button>
        </form>
    </div>

    <br>
    <br>

</body>
</html>

{% endblock %}