{% extends "base1.html" %}

{% block title %}
Our Team
{% endblock %}

{% block headContent %}
  <meta content="Team" property="og:title">
  <meta content="Team" property="twitter:title">
{% endblock %}

{% block content %}
  <div class="section cc-home-wrap">
    <div class="intro-header cc-subpage">
      <div class="intro-content">
        <div class="heading-jumbo">Team<br></div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="section-heading-wrap">
        <div class="label cc-light">Our people<br></div>
        <h2>Our world-class team<br></h2>
      </div>
      <a href="#" class="project-cover-link w-inline-block"><img src="https://img.freepik.com/free-photo/executives-connection-room-corporate-corridor_1134-1225.jpg?w=2000&t=st=1707909313~exp=1707909913~hmac=57d052bcdc55f7fd363192bdfe74e2dcb3a60faf8c5fbee107d32e6614ee9c2d" alt="" class="project-cover-pic"></a>
        <div id="w-node-c28cc763-f708-1e61-f196-6bd9fce9803c-caf90ae1">
          <div class="text-block-2">Team picture</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}