{% extends "base1.html" %}

{% block title %}
Our Work
{% endblock %}

{% block headContent %}
  <meta content="Work" property="og:title">
  <meta content="Work" property="twitter:title">
{% endblock %}

{% block content %}
  <div class="section cc-home-wrap">
    <div class="intro-header cc-subpage">
      <div class="intro-content">
        <div class="heading-jumbo">Our work<br></div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="section-heading-wrap">
        <div class="label cc-light">Our Work</div>
      </div>
      <div class="w-layout-grid projects-grid">
        <div id="w-node-_2878ffd7-26fe-9471-3c4e-7763e2d38cdc-caf90ae2">
          <a href="#" class="project-cover-link w-inline-block"><img src="https://i.ibb.co/XFw2hYm/photo-6226732234874927763-y.jpg" alt="" class="project-cover-pic"></a>
          <div class="project-name-wrap">
            <a href="#" class="project-name-link">Prediction</a>
          </div>
        </div>
        <div id="w-node-_2878ffd7-26fe-9471-3c4e-7763e2d38ce3-caf90ae2">
          <a href="#" class="project-cover-link w-inline-block"><img src="https://i.ibb.co/SnVbJHC/photo-6226732234874927762-y.jpg" alt="" class="project-cover-pic"></a>
          <div class="project-name-wrap">
            <a href="#" class="project-name-link">Screening</a>
          </div>
        </div>
        <div id="w-node-_2878ffd7-26fe-9471-3c4e-7763e2d38cea-caf90ae2">
          <a href="#" class="project-cover-link w-inline-block"><img src="https://i.ibb.co/89tL4hP/photo-6226732234874927765-y.jpg" alt="" class="project-cover-pic"></a>
          <div class="project-name-wrap">
            <a href="#" class="project-name-link">Explore</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}